:root {
  --bg-primary-color: rgb(219, 219, 219);
  --input: rgba(var(--ca, 219, 219, 219), 1);
  --button-submit: rgb(0, 149, 246);
  --button-submit-disabled: rgb(164, 214, 248);
  --fb: #385085;
  --forget: rgb(0, 55, 107);
  --visit: rgba(var(--ba, 56, 81, 133), 1);
  --fb-visit: #3850858c;
  --button-visit: rgba(0, 148, 246, 0.6);

  --width: 270px;
  --width-left: 23.1rem;

  --ca: 219, 219, 219;
  --ba: 150, 150, 150;
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* ====== GENERAL ======== */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
  display: flex;
  flex-flow: column wrap;

  gap: 2rem;

  margin-inline: auto;

  height: 50.75rem;
  width: 100%;
}

.main-content button {
  display: block;
}

.register {
  border: solid 1px var(--bg-primary-color);
}

.main-content {
  display: flex;
  flex-flow: row wrap;

  text-align: center;

  margin-top: 2rem;
  margin-inline: auto;
}

.cellphoto {
  position: relative;
  top: 20px;
  left: 35px;
}

.cellphone {
  background-size: 468.32px 634.15px;

  width: 26rem;
  background-position: -40px -5px;
  background-image: url('https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png');
}

.images img {
  height: 2.5rem;
}

.images {
  display: flex;

  height: 2.5rem;
  justify-content: center;
  gap: 0.625rem;
}

/* ====== BIG BOX ============= */

.big-box {
  display: flex;
  flex-flow: column wrap;

  gap: 1rem;
}

/* ====== LOGIN-BOX ============ */

.login-box {
  display: flex;
  flex-flow: column wrap;

  margin-top: 0.75rem;

  align-items: center;
  justify-content: start;

  border: solid 1px rgba(var(--ca6, 219, 219, 219), 1);
}

.login-box > * {
  height: 50px;
}

.login-box img {
  width: fit-content;
}

.login-box .insta-logo {
  cursor: pointer;
}

.login-box {
  width: 21.75rem;
}

.login-box button {
  color: #fff;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;

  background-color: var(--button-submit-disabled);

  user-select: none;

  border: none;
  padding: 0;

  margin-top: 1rem;

  height: 30px;
  width: 17.1875rem;

  border-radius: 0.3rem;
}

.login-box button.active {
  background-color: var(--button-submit);
  cursor: pointer;
}

.login-box label {
  display: flex;
  align-items: center;

  border: solid 1px var(--bg-primary-color);

  height: 2.25rem;
  width: fit-content;

  padding: 0 5px 0 0;

  border-radius: 5%;
}

.login-box span {
  padding-left: 7.5px;
}

.login-box .user,
.login-box .password {
  display: flex;

  width: fit-content;
}

.login-box input {
  border: 0px solid;
  text-overflow: ellipsis;

  width: fit-content;

  padding: 5px 5px 0 7.5px;

  font-size: 0.75rem;

  outline: none;

  width: 16.75rem;
  height: 100%;
}

.login-box .text-box {
  position: absolute;

  user-select: none;

  font-size: 0.75rem;

  color: gray;

  cursor: text;
}

.login-box .text-box {
  align-items: center;
}

.login-box .textin {
  font-size: 0.60675rem;
  font-weight: 500;
}

.login-box label.textin {
  transition: 200ms;
  align-items: flex-start;
}

label#user-password {
  width: 13.325rem;
  border: none;
}

.label {
  display: flex;
  flex-flow: row wrap;

  width: 17.25rem;

  border: solid 1px var(--bg-primary-color);

  height: 2.5rem;
  margin-top: 0.25rem;

  align-items: center;
}

.label .reveal {
  user-select: none;

  cursor: pointer;

  font-weight: 600;
  font-size: 0.875rem;

  padding-right: 0.5rem;
}

.login-box > img {
  margin-block: 2.5rem;
}

.or {
  display: flex;

  color: gray;

  width: 100%;

  align-items: center;
  justify-content: center;

  gap: 0.75rem;
}

.or .text {
  font-size: 0.8125rem;
}

.line {
  width: 30%;

  height: 1px;

  background-color: var(--bg-primary-color);
}

.with-fb {
  width: 100%;
}

.with-fb a {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: var(--fb);

  font-weight: 500;

  gap: 0.4rem;
}

.with-fb a:active {
  color: var(--visit);
}

.with-fb a:active svg {
  fill: var(--fb-visit);
}

.with-fb img {
  width: 1.5rem;
  height: 1.5rem;
}

.forget {
  width: 100%;
}

.forget a {
  text-decoration: none;

  font-size: 0.75rem;

  color: var(--forget);
  font-weight: 400;
}

.forget a:active {
  color: var(--visit);
}

/* ========= REGISTER ============== */

.register {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 3.5rem;
}

.register p {
  font-size: 0.875rem;
}

.register a {
  text-decoration: none;

  color: var(--button-submit);
  font-weight: 500;
}

.register a:active {
  color: var(--button-visit);
}

.getapp {
  display: flex;
  flex-flow: column wrap;

  font-size: 0.875rem;

  gap: 1.5rem;
}

/* ======== FOOTER ======== */

.footer-content {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 1.5rem;

  flex-flow: column wrap;

  color: gray;
}

.footer-content .footer-box {
  justify-content: center;
}

.footer-content .boxes {
  display: flex;
  flex-flow: column wrap;

  gap: 0.75rem;
}

.footer-content .footer-box,
.footer-content .lang {
  display: flex;

  flex-flow: row wrap;

  font-size: 0.75rem;

  gap: 0.75rem;
}

.footer-content a {
  text-decoration: none;

  color: gray;
}

.footer-content select {
  border: none;

  font-size: 0.72rem;

  color: gray;
}

@media (max-width: 876px) {
  .cellphone {
    display: none;
  }

  .main-container {
    width: 100%;
  }

  .footer-content {
    display: none;
  }

  .big-box {
    width: 100%;
  }
}
